@page
@model Examen2_Pizza.Pages.Desglose.DesgloseOrdenModel
@{
    ViewData["Title"] = "DesgloseOrden";
}

<div class="col-lg-12">
    <h2>Desglose Final Orden</h2>
    <label> Su orden es:</label> <br />
    <label>Tamaño de la Pizza: @Model.Tamanio</label><br />
    <label>Masa: @Model.Masa</label><br />
    <label>Ingredientes:</label><br />
    <ul>
        @for (int i = 0; i < Model.Ingredientes.Length; i++)
        {
            <li>@Model.Ingredientes[i]</li>
        }
    </ul>
    <label>Dirección Entrega</label><br />
    <ul>
        <li>Provincia: @Model.Provincia</li>
        <li>Cantón: @Model.Canton</li>
        <li>Distrito: @Model.Distrito</li>
    </ul>
    <label>Dirección Específica:</label><br />
    <p >@Model.Direccion</p>
    <label>Precio:</label> <br />
    <ul>
        <li>Precio sin impuesto: @Model.PrecioSinImpuesto</li>
        <li>Impuesto: @Model.Impuesto</li>
        <li>Envío: 700</li>
        <li>Precio total: @Model.PrecioFinal</li>
    </ul>

    <a asp-page="/Index" class="btn btn-default">Volver</a>
    <button type="submit" class="btn btn-primary" id="btnProcesar">Procesar</button>
   
    <br/> <br/>
    <div id="myAlert"class="alert-dismissible alert-success collapse">
        <button  type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Su orden ha sido procesada!</strong> en cuestión de minutos la mejor pizza de Costa Rica estará en su puerta.
    </div>
</div>


